html{
    background-image: url(../img/bus.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ===============HEADER================ */
header{
    width: 100%;
    height: 150px;
    margin: 0px auto 0px auto;
    color: white;
    border-bottom: white 4px solid;
}

.wrapper{
    width: 100%;
    height:150px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.logo{
    width: 45%;
    margin: 50px 0px 0px 0px;
}

.heading{
    width: auto;
    font-size: 2.5em;
    font-family: 'Roboto Mono', monospace;
    color: white;
}


/* ===============MAIN================ */
main{
    width: 100%;
    margin: 650px auto 0px auto;
    background: white;
    padding: 20px auto 20px auto;
    font-family: 'Roboto Mono', monospace;
}

h2{
    font-size: 2em;
    text-align: center;
    margin: 10px 100px 10px 100px;
}

h3{
    font-size: 1.5em;
    margin: 30px auto 10px auto;
}

main ul{
    margin: 20px auto 20px auto;
    text-align: center;
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
    margin: 25px auto 0px auto;
    padding: 20px;
    width: 80%;
}

.container img{
    height: 250px;
    width: 250px;
    border: solid black 4px;
}
.container p{
    font-size: 1em;
    margin: 20px auto 0px auto;
}
/* ===============FOOTER================ */
footer{
    height: 100px;
    width: 100%;
    background-color: #555;
    border-top: black solid 4px;
    text-align: center;
}

footer p{
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin: 5px;
    margin: 30px auto 10px auto;
    font-size: 15px;
}

footer li{
    display: inline-block;
    border: white solid 1px;
}